.mat-expansion-panel-body {
    padding: 0 24px 16px;
 
  }
  .mat-expansion-panel-header{
    padding-left: 0px !important;
    padding-right: 12px !important;
    padding-top: 80px ;
    padding-bottom: 14px !important;
    padding-inline: 10px;
    background-color: #006ac040  !important;
    padding-bottom: 15px !important;
    border-color: #c0000040;
    min-width: 50px !important;
}

.multiple-panel {
  min-width: 50px !important;
}

.mat-expansion-panel-header .mat-expanded{
  
    background-color: none;
}

.mat-panel-title{
  padding-left: 0px !important;
  padding-top: 1px !important;
  background-color: #f0101040  !important;
  padding-bottom: 1px !important;
}

#test1{
    background-color:  #0070c040  !important;
}

#test2{
    background-color:  #8e0fbc40  !important;
}  